/* header */
.header {
    width: 100%;
    padding: 0 40px;
    border-bottom: 1px solid rgba(125, 131, 135, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s ease;
}

.header .container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header .site-logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .site-logo span._caefe8969 {
    width: 147px;
    height: 40px;
    display: flex;
}

.header .site-logo span._caefe8969 svg {
    width: 100%;
    height: 100%;
    fill: var(--color-text-white);
    transition: all 0.3s ease;
}


.header .menu {
    width: 60%;
}

.header .menu ul {
    list-style: none;
    gap: 25px;
}

.header .menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .menu ul li a.nav-link {
    color: var(--color-text-white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    padding: 0 5px;
    transition: all 0.3s ease;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid transparent;
}

.header .menu ul li a.nav-link .dropdown-arrow {
    font-size: 9px;
    margin-top: 2px;
}


.header .header-btn {
    width: 20%;
}

.header .header-btn {
    justify-content: flex-end;
    align-items: center;
}

.header .header-btn .phone {
    gap: 10px;
    color: var(--color-text-white);
}

.header .header-btn .phone img {
    width: 20px;
}


.header .header-btn .phone span {
    font-size: 15px;
    font-weight: 600;
}

.header .header-btn .phone:hover {
    color: var(--color-primary);
}

.header .header-btn .cta {
    background: transparent;
    color: var(--color-text-white);
    border: 1px solid var(--color-primary);
    font-size: 13px;
    padding: 6px 24px;
}

.header .header-btn .cta .cta-text-wrapper {
    line-height: 22px;
    height: 22px;
}

.header .header-btn .cta:hover {
    background-image: var(--gradient-primary);
    color: var(--color-text);
}

.header:hover {
    background: var(--color-bg);
    color: var(--color-text);
}

.header:hover .site-logo span._caefe8969 svg {
    fill: var(--color-text);
}

.header:hover .menu ul li a {
    color: var(--color-text);
}

.header .menu ul li a.nav-link:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.header:hover .phone {
    color: var(--color-text);
}

.header:hover .cta {
    color: var(--color-text);
    background: var(--gradient-primary);
}

.header .menu ul li:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

/* Dropdown */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #F3F3F3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.08);
    padding: 40px 40px 80px;
    max-height: calc(100vh - 75px);
    overflow-x: hidden;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    gap: 40px;
    z-index: 9999;
}

.dropdown-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown-card {
    background: #212121;
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

img.dropdown-img {
    width: 100%;
    border-radius: 1rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    width: 100%;
}

.card-info a {
    color: #FFF !important;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
}

.card-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-icons img {
    display: block;
    width: 48px;
    height: 48px;
    object-fit: scale-down;
}

.dropdown-card .arrow-bg .arrow-animated svg {
    fill: var(--color-text-white);
}

.card-info a:hover .arrow-bg {
    transform: scale(1.1);
    background: var(--color-primary-dark);
}

.card-info a:hover svg {
    transform: translate(100%, -100%);
}


.dropdown-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
}

.dropdown-title a {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.dropdown-title a svg {
    fill: #000;
}

.dropdown-title a:hover svg {
    fill: var(--color-text-white);
}
.dropdown-title a:hover .arrow-bg {
    transform: scale(1.1);
    background: var(--color-primary-dark);
}

.dropdown-title a:hover svg {
    transform: translate(100%, -100%);
}

ul.dropdown-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px !important;
    padding-left: 64px;
}

ul.dropdown-list li a {
    font-size: 14px;
    font-weight: 500;
}

ul.dropdown-list li a:hover {
    color: var(--color-primary-light) !important;
}


@media (max-width: 1600px) {
    .header .site-logo {
        width: 25%;
    }

    .header .menu {
        width: 50%;
    }

    .header .menu ul {
        gap: 10px;
    }

    .header .menu ul li a.nav-link {
        font-size: 14px;
    }

    .header .header-btn {
        width: 25%;
    }
}

@media (max-width: 1440px) {
    .header {
        padding: 0 20px;
    }

    .header .header-btn .phone span {
        font-size: 13px;
    }

    .header .menu ul li a.nav-link {
        font-size: 13px;
        font-weight: 500;
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 10px 20px;
    }

    .header .site-logo {
        width: 50%;
    }

    .header .menu {
        display: none;
    }

    .header .phone {
        display: none;
    }

    .header .header-btn {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 10px 10px;
    }

    .header .site-logo span._caefe8969 {
        width: 110px;
        height: auto;
    }

    .header .header-btn .cta {
        padding: 4px 16px;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 10px 10px;
    }

    .header .site-logo span._caefe8969 {
        width: 100px;
        height: auto;
    }
}


/* End header */


/********************
HERO
********************/

.hero {
    min-height: 90vh;
    background: #000000;
    color: var(--color-text-white);
    background-size: cover;
    background-position: center;
    padding: 80px 40px 120px;
    z-index: 1;
    position: relative;
    align-items: flex-end;
}

.hero .background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .container {
    max-width: var(--width-container);
    width: var(--width-container);
    height: 100%;
}

.hero .main-content {
    color: var(--color-text-white);
    text-align: left;
    width: 50%;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 60px;
    position: relative;
}

.hero .main-content h1 {
    font-size: 91px;
    line-height: 1;
    letter-spacing: -0.06em;
}

.hero .main-content p {
    font-size: 18px;
    text-transform: uppercase;
}

.hero .video-popup {
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--button-font);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero .video-popup .playBtn {
    background: transparent;
    color: var(--color-text-white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
}

.hero .video-popup .playBtn span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-primary-dark);
    border-radius: 100%;
    z-index: -1;
    transition: all 0.2s ease;
}

.hero .video-popup:hover .playBtn span {
    background: var(--color-primary-dark);
    transform: scale(1.2);
}

.hero .icon-list {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero .icon-list .text-list {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--button-font);
}

.hero .icon-list .icon-circle {
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 50px;
}

.hero .hero-btn {
    position: absolute;
    left: 90%;
    top: calc(100% - 80px);
    z-index: 1;
    display: flex;
    transition: all 0.3s ease;
    border-radius: 100%;
    overflow: hidden;
}

.hero .hero-cta {
    font-size: 16px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    gap: 15px;
    z-index: 1;
    font-family: var(--button-font);
    font-weight: 600;
    text-transform: uppercase;
}

.hero .hero-cta:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.12, 0.77, 0.16, 0.93), background-color 0.3s cubic-bezier(0.12, 0.77, 0.16, 0.93);
    background-color: #FF9E3D;
    z-index: -1;
    border-radius: 50%;
}

.hero .hero-cta::before {
    background: linear-gradient(270deg, #ff5b14 0%, #ff9e3d 100%);
}

.hero .hero-btn:hover .hero-cta {
    color: var(--color-text-white);
}

.hero .hero-btn:hover .hero-cta:before {
    transform: scale(0.8);
    background: var(--color-primary);
}

.hero .hero-btn:hover .hero-cta::before {
    background: linear-gradient(270deg, #ff5b14 100%, #ff9e3d 0%);
}


span.hero-cta-icon {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.hero-cta-icon svg {
    width: 19px;
    height: 19px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}


.hero-cta-icon svg:nth-child(2) {
    position: absolute;
    top: 100%;
    right: 100%;
}


.hero .hero-cta:hover .hero-cta-icon svg {
    transform: translate(19px, -19px);
    fill: var(--color-text-white);
}

.hero .experience-list {
    position: absolute;
    top: 100px;
    right: 40px;
    width: 250px;
}

.hero .experience-list .exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.experience-list .exp span.exp-number {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.experience-list .exp span.exp-text {
    font-size: 14px;
    font-weight: 500;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

/* Active state */
.swiper-slide-active .fade-up {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 1440px) {
    .hero .main-content h1 {
        font-size: 80px;
    }

    .hero .hero-btn {
        left: 100%;
    }
}

@media (max-width: 1280px) {
    .hero .main-content {
        width: 60%;
    }

    .hero .main-content h1 {
        font-size: 70px;
    }
}

@media (max-width: 1024px) {
    .hero .main-content {
        width: 50%;
    }

    .hero .main-content h1 {
        font-size: 45px;
    }

    .hero .main-content p {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .hero {
        padding: 60px 20px 60px;
    }

    .hero .main-content {
        width: 100%;
    }

    .hero .hero-btn {
        left: auto;
        right: 0;
    }

    .hero .main-content p {
        font-size: 14px;
        width: 60%;
    }

    .hero .video-popup {
        left: 20px;
    }

    .hero .icon-list {
        left: 20px;
    }

    .hero .experience-list {
        right: 20px;
    }
}

@media (max-width: 600px) {
    .hero .video-popup {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-list .exp span.exp-text {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .hero .main-content p {
        width: 45%;
    }

    .hero .main-content h1 {
        font-size: 10vw;
    }

    .hero .hero-cta {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 320px) {
    .hero {
        padding: 60px 15px 60px;
    }

    .hero .main-content h1 {
        font-size: 35px;
    }
}

/* End hero */